@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  html {
    @apply h-dvh overflow-y-auto text-sm sm:text-base;
  }

  html > * {
    @apply text-text-light dark:text-text-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title font-semibold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }
}

@layer utilities {
  .link {
    @apply inline-block text-highlight-light hover:text-highlight-hover-light active:text-highlight-active-light dark:text-highlight-dark dark:hover:text-highlight-hover-dark dark:active:text-highlight-active-dark;
  }

  .link-ghost {
    @apply inline-block hover:underline active:text-highlight-light dark:active:text-highlight-dark;
  }

  .text-subtitle {
    @apply text-lg font-medium;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}

svg {
  width: 20px;
  height: 20px;
}

.self-message {
  & + .self-message > div {
    @apply rounded-tr-lg;
  }

  &:has(+ .self-message) > div {
    @apply rounded-br-lg;
  }
}

.companion-message {
  & + .companion-message > div {
    @apply rounded-tl-lg;
  }

  &:has(+ .companion-message) > div {
    @apply rounded-bl-lg;
  }
}

.message,
.message-date {
  transition: filter 0.1s ease-in-out;
}

body:has(.message-settings[data-radix-menu-content][data-state='open']) {
  & :is(.message, .message-date):not(.message_settings-open) {
    filter: blur(3px);
  }

  & .messages-container {
    overflow-y: hidden;
  }
}
